/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap');*/
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,700;6..12,800&family=Walter+Turncoat&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}
html{
  /* DEFINIR QUE COLORES USAR CORRECTAMENTE EN LA MARCA. SOLO BG*/
  /*background: #15151d;*/
}
body{
  font-family: 'Walter Turncoat', cursive;
  /*font-family: 'Nunito Sans', sans-serif;*/
  transition-duration: 500ms;
}

.duration-box{
	position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}